
/*@font-face {
font-family: goth;
src: url("../fonts/JosefinSlab-Regular.ttf")
}
*/

@font-face {
  font-family: font-aleo;
  src: url("../fonts/BebasNeue Bold.otf")
}

@font-face {
  font-family: gothital;
  src: url("../fonts/LeagueGothic-Italic.otf")
}

@font-face{
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: open-sans-b;
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.carousel-control.left, .carousel-control.right {
  background-image: none
}

body{
  color: #000;
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}


.center-text{
  text-align: center;
}


.hobby-pic{
  padding: 0.5em;
}


.pad-section {
  padding-top: 1.5em;
}

.bottom-pad{
  padding-bottom: 30px;
}

.name-box{
  font-size: 4em;
  text-align: center;
}

.descript-container{
  position: absolute;
  left: 2em;
  bottom: 10px;
}

.descript-container p{
  margin: 0;
  line-height: 1.2em;
}

.shadow{
  box-shadow: -4px 6px 0px 0px #BE43F2;
}


.btn-text{
  position: relative;
  top: -0.5em;
  font-size: 2em;
  font-family: font-aleo;
  border: solid 1px;
  padding: 5px;
  padding-bottom: 1px;
  color: black;
  box-shadow: black 2px 2px;
}

.sub-text{
  position: relative;
  left: 1em;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1.5em;
}

@media (max-width: 767px) {
  .sub-text {
    font-size: 0.9em;
  }

  .click-shadow{
    box-shadow: black 0px 0px 12px;
  }

  .gitlogo{
    padding-left: 0.5em;
  }

  .circlepic{
    padding-bottom: 1em;
  }

  .top-bar{
    position: absolute;
    width: 100%;
  }

  .elevator-bio{
    bottom: 40px;
    left: 50px;
  }
}


@media (max-width: 767px) {
  .elevator-bio {
    top: 5px;
    height: 100%;
    left: 0px;
    width: 100%;
  }
}

.block-text {
  font-family: font-aleo;
  padding-right: 7px;
  padding-top: 5px;
  line-height: 1.1;
  color: black;

}

.other-description{
  line-height: 1.4;
  font-size: 1.2em;
  position: relative;
  left: 3em;
}

.project-title{
  margin-top: 1em;
  font-size: 2.5em;
}

@media (max-width: 767px) {
  .project-title {
    font-size: 1.2em;

  }

}



.indent {
  position: relative;
  left: 1em;
  line-height: 0.9;
}

.web-dev
{
  color: #F8F6C3;
  font-family: gothital;
  font-size: 3.8em;
}

.intro-name{
  color: #9CFFC2;
  font-family: gothital;
  font-size: 7em;
  line-height: 0.9;
}

@media (max-width: 767px) {
  .intro-name {
    font-size: 3em;
    text-align: center;
    position: relative;
    left: 0.4em;

  }
  .web-dev
  {
    font-size: 2.5em;
    left: 0.7em;
    text-align: center;
  }
}


.col-centered{
  float: none;
  margin: 0 auto;
  width: 6em;
}

.social-logo{
  opacity: 0.9;
  padding-left: 8px;
}

#social-buttons{
  background-color: #202020;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
}

#social-buttons a{
  color: #E2E2E2;
}

#social-buttons a:hover{
  color: white;
}


.bg-image{
  background: url('../images/hiking-bg.jpg') no-repeat;
  height: 40%;
  min-height: 380px;
  background-attachment:scroll;
  width: 100%;
  top: 0px;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: bottom right;
}


@media (max-width: 767px) {
  .bg-image {
    background-position: center;
  }

}

.home h1{
  display: inline-block;
  vertical-align: middle;
}

.home-links{
  font-size: 1.6em;
  padding-top: 0.9em;
}

@media (max-width: 767px) {

}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#projects {
  position: relative;
  background-color: white;
  padding-top: 3em;
}

#about {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #504E4E;
  background-color: #F0F0F0;
  text-align: justify;
  font-family: open_sanslight;
  font-size: 1em;
}



#about hr{
  border-top: 1px solid black;
}

.fa-github{
  position: relative;
  top: 1px;
  font-size: 2em;
}

#contact{
  padding-top: 3em;
  background-color: white;
  font-family: open_sanslight;
  color: #413659;
  background-color: #e2e0e0;;
}


textarea, input{
  border-radius: 0 !important;
}

.map-box{
  width: 100%;
  height: 100%;
}

.contact-box{
  height: 100%;
}

.contact-title{
  font-size: 2.4em;
}

#menu{
  min-height: 20%%;
  background-color: #bdd4de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 10px 1px #000000;
  z-index: 5;
}

.panel{
  background-repeat: no-repeat;
  background-size: cover;
}

.bio-text{
  position: absolute;
  font-size: 1.4em;
  bottom: 0.5em;
  left: 1em;
}

.biobox-sm{
  margin-bottom: 20px;
}

.hobby-box {
  font-size: .7em;
}

.full-w{
  width: 100%;
  left: 0px;
}

.full-h{
  height: 100%;
}


.address-name{
  font-family: open-sans-b;
  color: black;
}


.address-sect{
  text-align: center;
  font-size: 1.2em;
  line-height: 1.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #6CAAF8;
}

.address-sect p{
  padding-bottom: 3px;
  margin-bottom: 0px;
}

.project-descript{
  font-family: open_sanslight;
  text-align: justify;
  
}

.project-descript a{
  font-size: 1em;
}

.btn-primary{
  background-color: #0089FF;
}


.mobilpic{
  height: 530px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}


.fullw{
  width: 100%;
}

.lesspadding p{
  margin: 0px;
  line-height: 1.9rem;
}

#hobbies{
      padding-top: 1em;
  margin-bottom: 4em;
      text-align: justify;
    font-family: open_sanslight;
    font-size: 1em;
}

.buttonrow{
  padding-top: 1em;
}

.youtubevid{
width: 500px;
    height: 365px;
}